<section id="footer">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5 widget">
          <div style="margin-bottom:10px;">
            <!-- place footer text here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 widget">Developed with
          <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span> by Craft Academy Labs
          <span class="pull-right">Sponsored by CraftAcademy </span>
        </div>
      </div>
    </div>
  </div>
</section>
